@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  height: calc(100svh - (72px + 2rem));
}

.modal {
  @apply absolute bottom-0 left-0 right-0 top-12 z-20 flex items-center justify-center backdrop-blur-sm md:top-24;
}

.modal-content {
  @apply border-primary flex flex-col items-stretch rounded-md border-2 py-6 text-white md:px-4;
}

.form-input-container {
  @apply mx-4 flex justify-between md:w-96;
}

.form-input {
  @apply flex-[2] text-black;
}

.spinner {
  @apply mx-auto inline-block h-4 w-4 animate-spin rounded-full border-b-2 border-solid;
}
