@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.btn {
  @apply bg-secondary text-primary w-40 rounded px-4 py-2 font-bold;
}

.btn-secondary {
  @apply bg-secondary text-primary px-2 py-1 font-bold md:px-4 md:py-2;
}

.btn-secondary-rounded {
  @apply btn-secondary rounded;
}

.btn-primary {
  @apply bg-primary text-secondary px-2 py-1 font-bold md:px-4 md:py-2;
}

.btn-primary-rounded {
  @apply btn-primary rounded;
}

.btn-transparent {
  @apply text-primary border-primary rounded-md border-2 px-2 py-1 text-sm font-bold md:px-4 md:py-2 md:text-lg;
}

.modal {
  @apply absolute bottom-0 left-0 right-0 top-12 z-20 flex items-center justify-center backdrop-blur-sm md:top-24;
}

.modal-content {
  @apply flex flex-col items-stretch rounded-md bg-black py-6 text-white md:px-4;
}

.modal-input-container {
  @apply m-4 flex justify-between md:w-96;
}

.modal-input {
  @apply pl-1 text-black;
}
