.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s !important;
  margin-bottom: 1rem;
}

.gameUI {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  gap: 2rem;
  justify-content: center;
  height: 20vh;
}

.functionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// .availableFunctions {
//   border: 2px solid black;
// }

// .chosenFunctions {
//   border: 2px dashed black;
// }

.submitButton:hover {
  background-color: rgb(100, 100, 100);
  transition-duration: 0.3s;
}

.disabledButton {
  @extend .submitButton;
  cursor: default;
}
