.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s !important;
  margin-bottom: 1rem;
}

.gameUI {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  gap: 2rem;
  justify-content: center;
  height: 20vh;
  width: 80vw;
}

.functionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.availableFunctions {
  border: 2px solid black;
}

.function {
  background-color: grey;
  color: white;
  width: 14rem;
  margin-left: 5vw;
  margin-top: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.chosenFunctions {
  border: 2px dashed black;
}

.submitButton {
  width: 16vw;
  position: relative;
  bottom: 0;
  font-size: 1.1rem;
  cursor: pointer;
  text-align: center;
}

.disabledButton {
  @extend .submitButton;
  cursor: default;
}
