.games {
  height: 80vh;
  color: black;
  margin-top: 15vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 10% 80%;
  text-align: center;
}

.games h1 {
  color: black;
}

.createGame {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  overflow-y: auto;
}

.availableGames {
  display: table; /* Ensure it's recognized as a table */
  margin: 3rem;
  padding: 1rem;
  width: 100%;
  width: 100%;
  text-align: center;
  border-collapse: separate; /* Don't collapse */
  border-spacing: 0;
  table-layout: fixed;

  tr,
  th,
  td {
    height: 1rem;
    padding: 1rem;
  }

  td {
    border-bottom: 2px solid;
    border-right: 2px solid;
  }

  th {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
  }
  thead {
    z-index: 2;
  }
  thead th {
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: #edecec;
  }

  th:first-child,
  td:first-child {
    /* Apply a left border on the first <td> or <th> in a row */
    border-left: 2px solid;
  }
}

.joinButton {
  align-items: center;
}
