# node
node_modules/

# hardhat
cache
artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Ignore the output from circom because we want people to build these
# Users can remove these lines and commit the artifacts
circuits/*.r1cs
circuits/*.vkey.json
circuits/*.wasm
circuits/*.zkey
contracts/*.sol

