# node
node_modules/

# Ignore the output from circom because we want people to build these
# Users can remove these lines and commit the artifacts
zk/**/*.js
zk/**/*.sym
zk/**/*.wasm
zk/*.r1cs
zk/*.zkey
zk/*.sol

